<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="mb-5">食材カロリー一覧</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      
        <table class="table table-hover">
          <tr>
              <th>食材</th>
              <th>重量（g）</th>
              <th>Kcal</th>     
            </tr> 
          <tr>
          <% @calories.each do |calorie| %>
            <td>
              <%=calorie.name%>
            </td>
            <td>
              <%=calorie.weight%>g
            </td>
            <td>
              <%=calorie.calorie%>Kcal
            </td>
          </tr>
          <% end %>
        </table>
 
    </div>    
  </div>
<div class="container">