<h2>Body_Recipeとは</h2>
<p>増量・減量ボディメイクに特化した料理投稿サイトです。今日からカロリーに注意して料理しませんか</p>

<h2>Body_Recipeの使い方</h2>
<p>食材一覧を見てカロリーを確認しながら、レシピ投稿してみましょう</p>

<h2>太れない、痩せれないかたへ</h2>
<p>なぜかトレーニングしても太れない、痩せれないという事があると思います。<br>
ボディメイクにはトレーニングだけではなく他に睡眠・食事が大切です。<br>
このサイトでは食事面であなたのボディメイクを手助けできることを願っています。
</p>



